// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #243681;
$secondary: #26a69a;
$accent: #D84690;

$dark: #1d1d1d;
$dark-page: #121212;
$dark-bg: #424242;

$positive: #4CAF50;
$negative: #D13444;
$info: #4CA7E1;
$warning: #FBE650;

.q-focus-helper::after {
  background: none !important;
}
