// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$dark: #1d1d1d;
$dark-page: #121212;
$dark-bg: #424242;

$accent: #eb3492;
$info: #13c9f2;
$negative: #f23d4c;
$positive: #00c853;
$primary: #0560ae;
$secondary: #00b2cd;
$warning: #efad47;

$typography-font-family: 'Montserrat', sans-serif !default;
$button-font-weight: 600;
$text-weights: (thin: 300, light: 400, regular: 600, medium: 700, bold: 800, bolder: 800) !default;

// font-weight: 800
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

// font-weight: 600
td, .text-h5 {
  font-weight: 600 !important;
}
