// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0560ae;
$secondary: #00b2cd;
$accent: #eb3492;

$dark: #1d1d1d;
$dark-page: #121212;
$dark-bg: #424242;

$positive: #00c853;
$negative: #f23d4c;
$info: #13c9f2;
$warning: #efad47;

.q-header {
  border-color: rgb(255, 255, 255, 0.12) !important;
}

.q-separator--dark {
  background-color: rgb(255, 255, 255, 0.12);
}
